<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/13230e701c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/assets/css/style1.css" />
    <title>Edit Profile</title>
</head>

<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form action="/login" class="sign-in-form" method="post">

                    <h2 class="title">Edit Profile</h2>
                    <!-- loop data foreach -->



                    <div class="input-field">


                        <i class="fa-solid fa-user"></i>
                        <input type="name" value="" name="name" placeholder="<%= data.name %> " autocomplete="off" />
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-calendar-days"></i>
                        <input type="date" name="dateOfBirth" value="" />
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-signature"></i>
                        <input type="name" value="" name="aboutMe" autocomplete="off" />
                    </div>

                    <select name="gender" id="gender" class="input-field">

                        <!-- select gender male or female -->
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>


                    <div class="upload-btn-wrapper">
                        <button class="btn">Profile Picture</button>
                        <input type="file" name="myfile" id="file" onchange="loadFile(event)" />
                    </div>
                    <input type="submit" value="sumbit" class="btn solid" />

                </form>


            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                </div>
                <img src="../public/assets/images/logo1.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">


                </div>
                <img src="../public/assets/images/register1.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <script src="../public/assets/script/1.js"></script>
</body>

</html>